[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/flipbit03/lineark"
authors = ["Carlos Eduardo <cadu.coelho@gmail.com>"]
